# Ignore Python cache directories
__pycache__/
*.py[cod]

# Ignore .pem & log files
*.pem
*.log

# Ignore folders
output/
downloaded_configs/
fmbench_llm_utils/
.venv/
configs/fmbench/*
!configs/fmbench/.gitkeep
results/
analytics/__pycache__
analytics/results
fmbench_orchestrator.egg-info/
fmbench_orchestrator/aws/__pycache__
fmbench_orchestrator/schema/__pycache__
fmbench_orchestrator/utils/__pycache__
fmbench_orchestrator/globals/__pycache__
fmbench_orchestrator/schema/__pycache__
fmbench_orchestrator/aws/__pycache__
fmbench_orchestrator/schema/__pycache__
fmbench_orchestrator/utils/__pycache__
fmbench_orchestrator/globals/__pycache__
fmbench_orchestrator/schema/__pycache__

